
.Checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(/icons/material/check_box_outline_blank.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: var(--theme-padding);
    margin-right: var(--theme-padding);
}
.Checkbox.Checkbox_checked {
    background-image: url(/icons/material/check_box.svg);
}