
.SelectList {
    position: relative;
    z-index: 0; /* to make it it's own stacking context and not let z index of inner elements expand outside of this container */
}
.SelectList > * {
    width: 100%;
    touch-action: pan-y;
    position: absolute;
    background: var(--theme-surface);
    color: var(--theme-on-surface);
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        left var(--theme-transition-time-function),
        top var(--theme-transition-time-function),
        box-shadow calc(var(--theme-transition-time) * 2) var(--theme-transition-time-function);
    box-shadow: var(--theme-shadow-1);
}
.SelectList > .SelectList_selected {
    background: var(--theme-surface-selection);
}
.SelectList_DragItem {
    will-change: left, top;
    transition:
        box-shadow calc(var(--theme-transition-time) * 2) var(--theme-transition-time-function);
    box-shadow: var(--theme-shadow-4);
}
